/* Fonts */
:root {
  --default-font: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Poppins", sans-serif;
  --nav-font: "Poppins", sans-serif;
  --footer-font: "Barlow Semi Condensed", sans-serif;
}


:root {
  --background-color: #ffffff;  
  --default-color: #212529;
  --heading-color: #32353a;
  --accent-color: #1e5a9a;
  --contrast-color: #ffffff;
}
:root {
  --nav-color: #3a3939;
  --nav-hover-color: rgb(255 144 0);
  --nav-dropdown-background-color: #ffffff;
  --nav-dropdown-color: #3a3939;
  --nav-dropdown-hover-color: rgb(255 144 0);
}

.light-background {
  --background-color: #eef0f2;
  --surface-color: #ffffff;
}

.dark-background {
  --accent-color: #ffa600;
  --background-color: #000;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #4f6171;
  --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  /* font-family: var(--default-font); */
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 0.9rem 0;
  transition: all 0.5s;
  z-index: 997;
}

.header .logo {
  line-height: 1;
}

.header .logo img {
  max-height: 36px;
  margin-right: 8px;
}

.header .logo h1 {
  font-size: 24px;
  margin: 0;
  font-weight: 600;
  color: var(--heading-color);
}

.header .logo span {
  color: var(--accent-color);
  font-size: 24px;
  font-weight: 600;
  padding-left: 3px;
}

/* btn code start here  */
:root {
  --accent-btn: #ffa600;
}

.header .btn-getstarted,
.header .btn-getstarted:focus {
  color: var(--default-color);
  background: var(--accent-btn);
  font-size: 14px;
  padding: 8px 26px;
  margin: 0;
  border-radius: 30px;
  transition: 0.3s;
  position: relative;
}

.header .btn-getstarted:hover,
.header .btn-getstarted:focus:hover {
  color: var(--contrast-color);
  background: color-mix(in srgb, var(--accent-btn), transparent 15%);
}

.header .btn-getstarted::after {
  content: '';
  background-color: var(--accent-btn);
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;
  z-index: -1;
  transition: all 0.6s;
}

.header .btn-getstarted:hover::after {
  opacity: 0;
  transform: scaleX(1.4) scaleY(1.5);

}

/* btn code start here  */

@media (max-width: 1200px) {
  .header .logo {
    order: 1;
  }

  .header .btn-getstarted {
    order: 2;
    margin: 0 15px 0 0;
    padding: 6px 20px;
  }

  .header .navmenu {
    order: 3;
  }
}

.scrolled .header {
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
}

/* Index Page Header
------------------------------*/
.index-page .header {
  --background-color: rgba(255, 255, 255, 0);
  --heading-color: #ffffff;
  --nav-color: rgba(255, 255, 255, 0.5);
  --nav-hover-color: #ffffff;
}

/* Index Page Header on Scroll
------------------------------*/
.index-page.scrolled .header {
  --background-color: #ffffff;
  --heading-color: #32353a;
  --nav-color: #3a3939;
  --nav-hover-color: #e84545;
}

#deep_menu:hover .toggle-dropdown {
  transform: rotate(90deg) !important;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Navmenu - Desktop */
@media (min-width: 1200px) {
  .navmenu {
    padding: 0;
  }

  .navmenu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navmenu li {
    position: relative;
  }

  .navmenu a,
  .navmenu a:focus {
    color: var(--nav-color);
    padding: 10px 8px;
    font-size: 14px;
    font-family: "Poppins", sans-serif !important;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    transition: 0.3s;
  }

  .navmenu li:last-child a {
    padding-right: 0;
  }

  .navmenu li:hover>a,
  .navmenu .active,
  .navmenu .active:focus {
    color: var(--nav-hover-color);
  }

  .navmenu .dropdown ul {
    margin: 0;
    padding: 10px 0;
    background: var(--nav-dropdown-background-color);
    display: block;
    position: absolute;
    visibility: hidden;
    left: 5px;
    top: 130%;
    opacity: 0;
    transition: 0.3s;
    border-radius: 4px;
    z-index: 99;
    box-shadow: 0px 0px 30px color-mix(in srgb, var(--default-color), transparent 85%);
  }

  .navmenu .dropdown ul li {
    min-width: 200px;
  }

  .navmenu .dropdown ul a {
    padding: 0.5rem 1rem;
    font-size: inherit;
    text-transform: none;
    color: var(--nav-dropdown-color);
  }

  .navmenu .dropdown ul a i {
    font-size: 12px;
  }

  .navmenu .dropdown ul a:hover,
  .navmenu .dropdown ul .active:hover,
  .navmenu .dropdown ul li:hover>a {
    color: var(--nav-dropdown-hover-color);
  }

  .navmenu .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navmenu .dropdown:hover .toggle-dropdown {
    transform: rotate(180deg);
  }

  .navmenu .dropdown .dropdown ul {
    top: 0;
    left: -90%;
    visibility: hidden;
  }

  .navmenu .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: -100%;
    visibility: visible;
  }
}

/* Navmenu - Mobile */
@media (max-width: 1199px) {
  .mobile-nav-toggle {
    color: var(--nav-color);
    font-size: 28px;
    line-height: 0;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .navmenu {
    padding: 0;
    z-index: 9997;
  }

  .navmenu ul {
    display: none;
    position: absolute;
    inset: 60px 20px 20px 20px;
    padding: 10px 0;
    margin: 0;
    border-radius: 6px;
    background-color: var(--nav-dropdown-background-color);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
    box-shadow: 0px 0px 30px color-mix(in srgb, var(--default-color), transparent 90%);
  }

  .navmenu a,
  .navmenu a:focus {
    color: var(--nav-dropdown-color);
    padding: 10px 20px;
    font-family: "Poppins", sans-serif !important;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
    background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
  }

  .navmenu a i:hover,
  .navmenu a:focus i:hover {
    background-color: var(--accent-color);
    color: var(--contrast-color);
  }

  .navmenu a:hover,
  .navmenu .active,
  .navmenu .active:focus {
    color: var(--nav-dropdown-hover-color);
  }

  .navmenu .active i,
  .navmenu .active:focus i {
    background-color: var(--accent-color);
    color: var(--contrast-color);
    transform: rotate(180deg);
  }

  .navmenu .dropdown ul {
    position: static;
    display: none;
    z-index: 99;
    padding: 10px 0;
    margin: 10px 20px;
    background-color: var(--nav-dropdown-background-color);
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    box-shadow: none;
    transition: all 0.5s ease-in-out;
  }

  .navmenu .dropdown ul ul {
    background-color: rgba(33, 37, 41, 0.1);
  }

  .navmenu .dropdown>.dropdown-active {
    display: block;
    background-color: rgba(33, 37, 41, 0.03);
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .mobile-nav-toggle {
    color: #fff;
    position: absolute;
    font-size: 32px;
    top: 15px;
    right: 15px;
    margin-right: 0;
    z-index: 9999;
  }

  .mobile-nav-active .navmenu {
    position: fixed;
    overflow: hidden;
    inset: 0;
    background: rgba(33, 37, 41, 0.8);
    transition: 0.3s;
  }

  .mobile-nav-active .navmenu>ul {
    display: block;
  }
}

/* ======== pre header section 1======== */
.header_top_para {

  text-align: center;
  padding: 1rem 5px;
  font-size: 15px;
  font-weight: 400;
  color: #31708f;
}

@media (min-width: 767px) {
  .header_top_para {
    font-size: 16px;
  }
}

/* ======== pre header section ======== */
#pre-main_header {
  background-color: #d9edf7;
  font-size: 14.5px;
}

.pre_header_contain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding-inline: 0.5rem;
}

.pre_header_links i,
.last_btns_icons i {
  padding-inline-end: 0.3rem;
  align-items: center;
}

.header_paragrap .header_paragrap-1 {
  font-size: 1.4rem;
}

.header_lastBtns {
  display: inline-flex;
  column-gap: 1rem;
  align-items: center;
}

.last_btns_link {
  column-gap: 1rem;
}

.pre_header_links a,
.last_btns_icons a {
  color: #000;
  font-weight: 400;
}

.pre_header_links a:hover,
.last_btns_icons a:hover {
  color: #ff660e;
  font-weight: 400;
}

@media screen and (max-width:820px) {
  .header_paragrap .header_paragrap-1 {
    display: none;
  }
}

/* menu hide and open on screen */

@media (min-width: 1200px) and (max-width: 1500px) {
  .close-md-screen {
    display: none;
  }

  .open-md-screen {
    display: block;
  }
}

@media (max-width: 1200px) {
  .close-md-screen {
    display: block !important;
  }

  .open-md-screen {
    display: none;
  }
}

@media (min-width: 1500px) {
  .open-md-screen {
    display: none;
  }
}


/* breadcrumbs */
.breadcrumb {
  background-color: #f2f2f2b8;
  padding: 6px 0;
}


/* slider part  */
.main_logo {
  position: relative;
}

.logos {
  padding: 2rem 0rem;
  margin: 2rem 0rem;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  background-color: rgba(224, 248, 251, 0.43);
}

.logo-slide {
  display: inline-block;
  white-space: nowrap;
  animation: slider 70s linear infinite;
}

.logo-slide img {
  display: inline-block;
  width: 10rem;
  height: auto;
  margin: 0 1rem;
  opacity: .9;
}

.logos::before,
.logos::after {
  content: " ";
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  z-index: 5;
}

.logos::before {
  right: 0;
  background-image: linear-gradient(to left, rgb(255, 255, 255),
      rgba(255, 255, 255, 0));
}

.logos::after {
  left: 0;
  background-image: linear-gradient(to right, rgb(255, 255, 255),
      rgba(255, 255, 255, 0));
}

.logos:hover .logo-slide {
  animation-play-state: paused;
  opacity: 1;
}

@keyframes slider {
  0% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(-90%);
  }
}

.section_cumtomer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hr_section {
  width: 7%;
  color: rgb(39, 38, 38);
  border: 1px solid rgb(39, 38, 38);
  border-radius: 5px;

}

.hero-header-small {
  font-size: 7rem;
  color: rgb(252, 173, 95);
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.wrpper-domain {
  font-size: 4.5rem;
  color: #ffffff;
  font-weight: 500;
  /* letter-spacing: 5px; */
  font-family: "Poppins", sans-serif;
  text-transform: lowercase;
  text-align: center;

}

.wrpper-domain .dot-color {
  color: rgb(255, 224, 100);
  margin: 0;
  padding: 0;
}

.hero-header-small .slidingVertical,
.hero-header-small .dot-color {
  font-size: 4rem;
}

.hero-header-small .dot-color {
  color: #fff;
}

.hero-header-small .slidingVertical {
  color: rgb(243, 193, 30);
}

@media screen and (max-width:1023px) {
  .hero-header-small {
    font-size: 5rem;
  }

  .wrpper-domain {
    margin: 0px 0px 24px 0;
  }

}

@media screen and (max-width:746px) {
  .hero-header-small {
    font-size: 4rem;
  }

  .hero-header-small {
    font-size: 2.3rem;
  }

  .hero-header-small span {
    display: block;
    font-size: 4.6rem;
    margin-top: -15px;
  }

  .wrpper-domain {
    margin-top: -15px;
  }


}

@media screen and (max-width:676px) {
  .hero-header-small {
    font-size: 2.2rem;
    font-weight: 400;
    text-transform: capitalize;
  }

  .hero-header-small span {
    text-transform: uppercase;
    font-weight: 650;
  }

  .wrpper-domain span {
    font-size: 2.6rem;
    font-weight: 400;
    margin-top: 10px;
  }

}




.in-domain {
  color: #ef471d;
  font-size: 3rem;
}

.domain-why-container {
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.196);
  padding: 10px 20px;
  height: 100%;
}

.domain-why-container h4 {
  color: #ef471d;
  font-size: 1.7rem;
}

.domain-why-container .why-icon {
  margin: 10px 0;
}

.domain-why-container .why-icon i {
  /* background-color: #fffa9353; */

  font-size: 2.7rem;
  color: #1e5a9a;
  position: relative;
}


.hero__flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.hero__col1,
.hero__col2 {
  width: 100%;
  text-align: center;
}

.hero__col1 a {
  color: #fff;
  display: inline-flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6rem;
  text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, .25);
  margin-bottom: 2rem;
  text-decoration: underline;
}

.hero__col1 a .arrowImage {
  padding: 5px 0 0 5px;
}

.hero__col1 a:hover {
  text-decoration: none;
}

.hero__col2 a {
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, .25);
}

.hero__col2 a span {
  font-weight: 500;
}

.hero__col2 a:hover {
  text-decoration: none;
}

.hero__col2 a span {
  font-weight: 600;
}

@media (min-width:768px) {

  .hero__col1,
  .hero__col2 {
    width: auto;
  }

  .hero__flex {
    justify-content: space-between;
    margin-top: 1.5rem;
  }

  .hero__col1 a {
    margin-bottom: 0;
  }

  .hero__col2 a {
    margin-left: 1rem;
  }
}

@media (min-width:992px) {
  .hero__flex {
    width: calc(114% - 156px);
  }

  .hero__col2 a {
    font-size: 2.2rem;
  }
}


/*--------------------------------------------------------------
# .accordion
--------------------------------------------------------------*/
.accordion-item {
  margin: 20px;
}

.accordion-header {
  padding: 15px 0;
}

.accordion-item:not(:first-of-type) {
  border-top: 1px solid #dee2e6;
}

/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
.footer {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: var(--default-color);
  background-color: var(--background-color);
  font-size: 1.1rem;
  position: relative;
}


.footer-top .footer-about a span.sitename {
  color: var(--accent-color);
  font-size: 30px;
}

.footer .footer-top {
  background-color: color-mix(in srgb, var(--background-color), white 10%);
  padding-top: 50px;
}

.footer .footer-about .logo {
  line-height: 1;
  margin-bottom: 25px;
}

.footer .footer-about .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.footer .footer-about .logo span {
  color: var(--heading-color);
  font-family: var(--footer-font);
}

.footer .footer-links h4 {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 15px;
  color: var(--contrast-color);
}

.footer h4::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background: var(--accent-color);
  bottom: 0;
  left: 0;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul i {
  padding-right: 2px;
  font-size: 12px;
  line-height: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  display: inline-block;
  line-height: 1;
}

.footer .footer-links ul a:hover {
  color: var(--accent-color);
}

.footer .footer-contact p {
  margin-bottom: 5px;
}

.footer .copyright {
  padding: 30px 0;
}

.footer .copyright p {
  margin-bottom: 0;
}

.footer .credits {
  margin-top: 5px;
  font-size: 13px;
}

.footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: color-mix(in srgb, var(--default-color), transparent 90%);
  color: var(--contrast-color);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  position: relative;
}

.footer .social-links a:hover {
  background: var(--accent-color);
  text-decoration: none;
}

.footer-subscriber {
  margin: 5px 0 15px 0;
}

.footer-subscriber span:first-child {
  display: inline-block;
  margin-top: 10px;
  font-size: 20px;
  color: var(--accent-color);
  font-weight: 500;
}

.footer-subscriber p {
  width: 70%;
}

.footer-subscriber div:last-child {
  display: flex;
  align-items: center;
}

.footer-subscriber div {
  display: flex;
  align-items: center;
}

.footer-subscriber div input {
  outline: none;
  padding: 7px 10px;
  display: inline-block;
  width: 65%;
  border: transparent;
  border: 1px solid var(--default-color);
  border-radius: 5px 0 0 5px;
}

.footer-subscriber div i {
  color: #ffffff;
  background-color: #2770b0;
  display: inline-block;
  font-size: 17px;
  padding: 9px 12px;
  border: 1px solid var(--default-color);
  border-radius: 0 5px 5px 0px;
  opacity: 0.8;
}

.footer-subscriber div i:hover {
  background-color: #0a3962;
}

.footer-top .footer-about a {
  font-size: 16px;
}

/* ========== about1 page   =======*/

#about-hero1 {
  background-color: rgb(255, 255, 255);
  padding: 3vw 0;
  font-family: "Poppins", sans-serif;
}
.ab-title{
  
  font-weight: 400;
  text-align: center; 
   margin-bottom: 2rem;
}
.ab-title .title{  
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: inline-block;
  background-color: rgba(186, 186, 186, 0.258); 
}
.h1-content h2{
  position: relative;
  left: 50%;
  color: #000000d7;
  transform: translateX(-50%);
  font-size: 3.8rem;
  line-height: 1.3;
  font-weight: 600;
  text-align: center;  
  width: 85%;

}
.h1-content h2 span{
  color: #115ed9;
}
.h1-content p{
  font-size: 1.5rem;
  width: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 2rem 0;
  color: #404040;
  margin-bottom: 20px;
}
.ab1-image{
  /* background-color: rgba(255, 0, 0, 0.204); */
  padding: 10px;
}
.ab1-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ab1-images{
  margin-top: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  /* background-color: rgba(255, 255, 0, 0.428); */
}
.ab1-images .first-img{
  width: 80%;
  height: auto;
  object-fit: cover;  
}
.ab1-images .second-img{
  width: 60%;
  height: auto;
  object-fit: cover;  
}
 .first-img img,  .second-img img{
  border-radius: 10px;
}
.second-img{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.ab1-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
  margin-top: 2rem;
  /* height: 100%; */
}
.ab1-content .s-content{ 
  background-color:#232323;
  width: 60%;
  padding: 2rem;  
  border-radius: 10px;  
}
.s-content h4{
  color: #ffffffdd;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.s-content p{
  font-size: 2.3rem;
  padding: 5px ;
  font-weight: 300;
  color: #fff;
}

.ab1-content .content-image img{
  border-radius: 10px;
  width: 90%;
  /* height: 70%; */
  object-fit: cover;
}
.ab1-content  {
  position: relative;
}
.ab1-content figure svg{
  position: absolute;
  top:0px;
  right:25%;
  z-index: 1; 
  opacity: 0.1; 
}
@media (min-width: 768px) and (max-width: 854px){
  .h1-content h2{
      width: 100%;
      font-weight: 700;
  }
 .ab1-images .first-img{
      width: 100%;
    }
    .ab1-content .s-content{
      width: 80%;
    }
    .s-content p{
      font-size: 1.5rem;
    }
    .ab1-images .second-img{
      width: 75%;
    }
    .ab1-content .content-image img{
      width: 100%;
    }
    .ab1-content figure svg{
      top: 10%;
      right: 0;
    }
}

@media screen and (max-width: 768px){
    .h1-content h2{
      font-size: 3rem;
      width: 92%;
    }
    .ab1-content figure svg{
      right: 0;
    
    }
    .ab1-images .first-img{
      width: 100%;
    }
    .ab1-content .s-content{
      width: 80%;
    }
    .s-content p{
      font-size: 1.5rem;
    }
    .ab1-images .second-img{
      width: 70%;
    }
    .ab1-content .content-image img{
      width: 100%;
    }
}
@media  (max-width:450px){
    .h1-content h2{
      font-size: 2rem;
      width: 98%;
    }
    .h1-content p{
      font-size: 1.3rem;
      width: 98%;
    }
}


/*====================================================
  ========== about2 page hero stared from here  =======*/


#about-hero {
 
    background-color: rgba(214, 214, 214, 0.276); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: fit-content; 
  padding-block:5rem ;

  /* padding-block:5rem ;
  font-family: "Poppins", sans-serif;
  position: relative;
  background:linear-gradient(to bottom, rgba(255, 255, 255, 0.84),rgb(243, 243, 243)), url(../img/about.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: fit-content;
  */
}

.main-hero {
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100%;
}

.hero-content {
  padding-block: 2.4rem;
}

.hero-content>div {
  font-size: 2.7rem;
  font-weight: 400;
  font-family: Helvetica, sans-serif;
}

.hero-content .btn-design {
  font-size: 1rem;
  font-weight: 400;
  font-family: Helvetica, sans-serif;
  padding: 0.8rem 2.1rem;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  position: relative;
  display: inline-block;
  z-index: 1;
  transition: all 0.5s ease;
  overflow: hidden;

}

.hero-content .btn-design::after {
  background-color: rgb(40, 39, 39);
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  z-index: -1;
  border-radius: 50px;
  display: flex;
  align-items: center;
  scale: 0.7;
  justify-content: center;
  transition: all 0.3s ease;

}

.hero-content .btn-design:hover {
  color: #fff;
}

.hero-content .btn-design:hover::after {
  background-color: rgb(39, 39, 39);
  bottom: 0;
  scale: 1.2;
}

@media screen and (max-width: 600px) {
  .hero-content>div {
    font-size: 1.5rem;
  }
  
}


/* .hero-content .btn-design:hover{
       background-color: rgb(255, 255, 255);
     } */


/* ============about who?==========    */

:root {
  --heading: 2.4rem;
}

#about-who {
  font-family: "Poppins", sans-serif;
  position: relative;
}

.ab-title h4 {
  font-size: var(--heading);
  /* padding-top: 3rem; */
}

#about-who .ab-child {
  padding-top: 2rem;
  /* background-color: rgba(175, 176, 118, 0.48); */
}

#about-who .ab-child:nth-of-type(2) {
  padding: 2rem;
  /* background-color: rgba(80, 117, 137, 0.367); */
}

.ab-child p {
  font-size: 1.4rem;
  /* text-align: center; */
  padding-bottom: 2rem;
}

.ab-child .ab-img_desc {
  padding-block: 1.2rem;
  min-height:fit-content;
  display: flex;
  justify-content: center;
  align-items: center;

}

.ab-child .ab-img_desc p {
  padding-top: 2rem;
  font-size: 1.7rem;
}

.ab-image {
  display: flex;

  /* background-color: red; */
}

.ab-img_desc .ab-image>p {
  font-size: 5rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-align: left;
  padding: 10px 20px;
  width: 80%;
  color: #1d3e51d9;
  /* background-color: rgba(146, 146, 146, 0.092);      */
  position: relative;
  z-index: 1
}

.ab-img_desc .ab-image>p::after {
  content: '';
  width: 100%;
  height: 35%;
  position: absolute;
  bottom: 0;
  left: 0;
  /* background-color: rgba(146, 146, 146, 0.082); */
  z-index: -1;
}
.ab-child:nth-of-type(2) .ab-img_desc .ab-image p{
  text-align: right;
  /* border: 1px solid red; */
  width: 100% ;
}
.ab-child:nth-of-type(4) .ab-img_desc .ab-image p{
  text-align: right;
  /* border: 1px solid red; */
  width: 100% ;
}

.ab-img_desc .ab-content {
  position: relative;
  background-color: rgba(128, 128, 128, 0.104);
  padding: 1rem 2rem;
  /* width: 80%; */
  margin: 0 10px;
}

.ab-img_desc .ab-content>p {
  font-size: 1.4rem;
  line-height: 1.7;
  width: 85%;
}

.ab-image img {
  width: 90%;
  object-fit: cover;
}

/* ========= background and history section ======= */
#history {
  padding-block:5rem ;
  font-family: "Poppins", sans-serif;
  position: relative;
  background:linear-gradient(to bottom, rgba(255, 255, 255, 0.84),rgb(243, 243, 243)), url(../img/cloud2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: fit-content;
}
.hs-heading .hs-content h4 {
  font-size: var(--heading);
  padding-block: 3rem;
  text-align: center;
  position: relative;
  width: fit-content;
  position: relative;
  margin: 0 auto;
}
.hs-heading .hs-content h4::after {
  content: '';
  width: 50%;
  height: 3px;
  background-color: rgba(129, 129, 129, 0.67);
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);  
}
.hs-heading .hs-content{
  position: relative;
  width: 100%;
  /* height: 90vh; */
}
.hs-content h4 + p{
  font-size: 1.4rem;
  line-height: 1.8;
  width: 70%;
  margin: 0 auto;
  padding: 1.6rem 0;
  text-align: center;
  margin-top: 2rem;
}
.hs-heading .hs-main{
    width: 90%;
    margin: 0 auto;  
    position: relative;
}
.hs-main .row h4{
  margin-top: 3rem;
  padding-block: 2rem;
  color: #1f1d1d;
  font-weight: 400;
  font-size: calc(var(--heading ) );
  margin-bottom: 1rem;    
  position: relative;
}
.hs-main .hs-content{
  margin-top: 5rem;
  padding: 0rem 0rem;
  display: flex;
  gap: 1rem;

}
.hs-content .hs-c_inside{
  display: flex;
  align-items: start;
  gap: 2rem;
  padding-block: 1rem;
  color: #202020;
}
.hs-content .hs-c_inside > a{
  color: #202020;
  font-size: 1.3rem;
  display: block;
  width: 100%;
  padding: 8px 10px;
  border-radius: 100px;
  border: 1px solid #202020;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  overflow: hidden; 
  transition: all 0.3s ease; 
}
.hs-content .hs-c_inside > a i{
  font-size: 2rem;
  transition: all 0.5s ease;
}
.hs-content .hs-c_inside > a::after{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height:100%;
  background-color: #202020;
  display: block;
  z-index: -1;
  transition: all 0.3s ease;
}
.hs-content .hs-c_inside >a:hover{
  color: #fff;
}
.hs-content .hs-c_inside > a:hover i{
 transform: translateX(10px);
}
.hs-content .hs-c_inside >a:hover::after{  
  top: 0;
}
.hs-count{
  font-size: 2.8rem;
  font-weight: 400; 
  width: 100px; 
 
}
.hs-c_inside .hs-count + div{
  font-size: 1.2rem;
  position: relative;
}
.hs-c_inside .hs-count + div::after{
  content: '';
  width: 100%;
  height: 2px;
  background-color: rgba(189, 189, 189, 0.67);
  display: block;
  margin-top: 1rem;
}
.hs-main .hs{
  position: relative;
  width: 100%;
}
.hs-img{  
  position: relative;
}
.hs-img .hs-image{  
  position: absolute;
  bottom: 0;
  right: 0; 
 
}
.hs-image{
  width: 100%; 
}
.hs-image img{  

  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*========== contact details========== */

#contact{
  background-color: rgb(255, 255, 255);
  padding-block: 3rem;
}
.c-title h4{
  font-size: var(--heading);
  font-weight: 400;
  color: #202020;
  text-align: center;
}
.c-content .c-box{
  padding-block: 6rem;
  /* display: flex;
  align-items: flex-start;
  gap: 2rem;
  justify-content: center; */
  text-align: center;
  
}
.c-box .c-icon{
  margin-bottom: 1.5rem;
}
.c-box span i{
  font-size: 3rem;
  color: #b0543d;
 
}
.c-box .c-support h4{
  font-size: 1.8rem;
  color: #3c3c3c;
}
.c-box .c-support h4 + p{
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
 }

/* =========your privacy=========== */

#your-privacy{
  background-color: rgba(220, 220, 220, 0.219);
  padding: 2rem 0;
  margin-bottom: 10rem;
}

#your-privacy .your-privacy{
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.your-privacy i.bi-shield-fill-check {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7rem;
  width: 150px;
  height: 150px; 
  color: #2c89d4;
 
}

.your-privacy h4{
  margin: 1.5rem 0;
  font-size: var(--heading);
  color: #202020;
}
.your-privacy p{
  font-size: 1.4rem;
  font-weight: 400;
  align-items: center;
  width: 70%;
  margin-bottom: 1rem ;
  text-align: center;

}
.your-privacy a{
  margin: 1.5rem 0;
  color: #202020;
  font-size: 1.4rem;
  text-transform: capitalize;
  display: block;
  width: 100%;
  padding: 5px 20px;
  border-radius: 50px;
  border: 1px solid #202020;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden; 
  transition: all 0.5s ease; 
}
.your-privacy a i{
  font-size: 2rem;
  transition: all 0.5s ease;
}
.your-privacy a::after{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height:100%;
  background-color: #202020;
  display: block;
  z-index: -1;
  transition: all 0.5s ease;
}
.your-privacy a:hover{
  color: #fff;
}
.your-privacy a:hover i{
 transform: translateX(10px);
}
.your-privacy a:hover::after{  
  top: 0;
}

/*======== swipper css here ======== */
.swiper {
      width: 100%;
      height: 100%;
      padding: 20px 0;
      /* background-color:rgb(235, 229, 229); */
    }

    .swiper-slide {
      text-align: center;
      font-size: 14px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;

    }
    .swiper .swiper-wrapper{
      padding: 20px 0;
      height: fit-content;
    }
    .swiper-slide .sw-wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      /* background-color: red; */
      padding: 20px 5px;
    }
    .swiper-slide .sw-wrapper i.bi-person-check{
      font-size: 4rem;
      color: #f4a00e;
    }
    .sw-wrapper h3{
      font-size: 20px;
      font-weight: 500;
      color: #115ed9;
   
    }
    .sw-wrapper h4{
      font-size: 12px;
      font-weight: 400;
    }
  .sw-wrapper .stars i.bi-star-fill{
    color: #f3c300;
    font-size: 13px;
    margin-right: 0.5rem;
  }
  .sw-wrapper .stars + p{
    width: 70%;
  }
    .swiper-slide img {
      display: block;
      width: 30%;
      height: 30%;
      object-fit: cover;
    }

    .autoplay-progress {
      position: absolute;
      right: 16px;
      bottom: 16px;
      z-index: 10;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: var(--swiper-theme-color);
    }

    .autoplay-progress svg {
      --progress: 0;
      position: absolute;
      left: 0;
      top: 0px;
      z-index: 10;
      width: 100%;
      height: 100%;
      stroke-width: 4px;
      stroke: var(--swiper-theme-color);
      fill: none;
      stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
      stroke-dasharray: 125.6;
      transform: rotate(-90deg);
    }

/* =======we are certified========= */

    .grid-images {
      padding: 1vw 0;
      background-color: rgb(255, 255, 255);
    }

    .img-grid {
      width: 100%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(4, minmax(25%, 1fr));
      grid-gap: 10px;
      align-content: center;
      align-items: center;
      transition: all 0.5s ease-in-out;
    }

    .img-grid:hover .g_img:not(:hover) {
      filter: grayscale(100%);
      scale: 0.9;
      transition: all 0.5s ease-in;
    }

    .img-grid img {
      display: block;
      width: 60%;
      height: fit-content;
      object-fit: cover;
      justify-self: center;
      align-self: center;
     
    }
    .img-grid .g_img{
      position: relative;
      width: 90%;
      height: 100%;
      display: grid;
      overflow: hidden;
      transition: all 0.5s ease-in;
    }
    .img-grid .g_img::before{
      content: "";
      position: absolute;
      top: 0;
      left: -70%;
      width: 50%;
      height: 100%;
      z-index: 2;
      transform: skewX(-25deg);
      background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
      visibility: hidden;   
      transition: all 0.5s ease-in-out; 
    }
    .img-grid .g_img:hover::before{
       animation: shine .75s linear;      
    }
    @keyframes shine {
    100% {
      left: 125%;
      visibility: visible;
    }
}

    .gi-text {
      padding: 25px 0;
      text-align: center;
    }
    .gi-text h4{
       color: rgb(46, 46, 46) ;
      font-weight: 500;
      font-size: var(--heading);
      margin-bottom: 30px;    
      position: relative;
    }
    .gi-text h4::after{
        content: '';
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 10%;
        height: 2px;
        background-color: rgba(60, 59, 59, 0.404);
        transform: translateX(-50%);
    }

    @media screen and (max-width:600px) {
      .img-grid img {
        width: 70%;
      }
       .gi-text h4{
        font-size: 1.5rem;
          text-transform: uppercase;
      }

      .img-grid {
        padding: 20px 0;
        gap: 10px;
        grid-template-columns: repeat(2, minmax(50%, 1fr));
      }

      .img-grid:hover img:not(:hover) {
        filter: grayscale(0);
        scale: 1;

      }
    }

    /* =========faq section========= */
    .heading-text {
      text-align: center;
      width: 80%;
      margin: auto;
      font-weight: 600;
    }
    .heading-text[data-target] h4 {
      font-size: var(--heading);
      font-weight: 500;
      color: rgb(46, 46, 46);
    }


@media screen and (max-width: 1200px) {
   .ab-img_desc .ab-image>p {
    font-size: 3rem;
    text-align: center;
    width: 100%;
   }
   .ab-child:nth-of-type(4) .ab-img_desc .ab-image p{
    text-align: center;
    
   }
}

@media screen and (max-width: 991px){
  .ab-child .ab-img_desc{
    flex-direction: column;
  }
    .ab-child:nth-of-type(2)  .ab-img_desc,
   .ab-child:nth-of-type(4)  .ab-img_desc{
    /* background-color: red; */
    flex-direction: column-reverse;
  }
  .ab-child:nth-of-type(4)  .ab-img_desc{
    padding-bottom: 3rem;
  }
  .ab-child:nth-of-type(2) .ab-img_desc .ab-image p{
    text-align: center;
  }
  .ab-child .ab-img_desc{
    padding-block:1rem ;
  }
  #about-who .ab-child{
    padding-top: 0;
  }
  .ab-img_desc .ab-content>p{
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
  }
  .ab-content, .ab-image{
    margin: 0 auto;
  }
  .ab-img_desc .ab-image>p{
    font-size: 2rem;
    font-weight: 500;
  }
  .ab-child .ab-img_desc{
    padding: 5px 0;
  }
  .hs-content h4 + p{
    width: 100%;
  }
  .hs-main .row{
      flex-direction: column;
  }
  .hs-img .hs-image img{
    display: none;
  }
  .hs-main .hs-content{
    margin-top: 3rem;
  }
  .hs-main .hs-content{
    justify-content: space-between;
  }
  
  .hs-part1 .hs-c_inside{
    width: 100%;
    gap: 5vw;
  }
  .your-privacy p{
    width: 90%;
  }
  #your-privacy{
    margin-bottom: 3rem;
  }
  .c-box .c-support h4{
    font-size: 1.4rem;
  }
  .c-box span i{
    font-size: 2rem;

  }
}

@media screen and (max-width: 768px){
  .ab-img_desc .ab-image>p {
    font-size: 2rem ;    
  }
  #about-who .ab-child:nth-of-type(2){
    padding: 0;
  }
  .ab-child .ab-img_desc{
    flex-direction: column;
  }
   .ab-child:nth-of-type(2)  .ab-img_desc,
   .ab-child:nth-of-type(4)  .ab-img_desc{
    /* background-color: red; */
    flex-direction: column-reverse;
  }
  .ab-child:nth-of-type(2) .ab-img_desc .ab-image p{
    text-align: center;
  }
  .hs-heading .hs-content h4:after{
    display: none;
  }
  .c-content{
    margin: 20px 0; 
  }
  .c-content .c-box{
    padding: 5px; 
       
  } 
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
         /* font-size: 1.2rem; */
        
    }

}
.swiper-button-next,
    .swiper-button-prev {
        display: none;
         /* font-size: 1.2rem; */
        
    }

@media screen and (max-width: 600px) {
  .ab-img_desc .ab-image>p {
    font-size: 2.3rem;
  }  
  .heading-text {
        width: 90%;
      }
.swiper-slide {
  font-size: 17px;
}
[data-aos] {
  opacity: 1 !important;
  transform: none !important; 
}
}
@media (max-width: 500px) {
  .hs-main .hs-content{
    flex-direction: column;
    align-items: center;
    
  }
  .hs-content .hs-part1, .hs-content .hs-part2{
    display: flex;
    flex-direction: column;    
    width: 100%;
    align-items: center;    
  }
  .hs-content .hs-c_inside{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
   .hs-content .hs-c_inside div + div{
    width: 40%;
   }
  .hs-content .hs-c_inside > a{
    width: 60%;
  }
  
}
